*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #f8f9fa;
    height: 80px;
    width: 100%;
}

main{
    display: flex;
}

main nav{
    width: 150px;
    height: 100vh;
    background-color: blue;
    color: white;
}

main section.contents{
    width: calc(100% - 100px);
    background-color: red;
    overflow-y: hidden;
}

section.upper_content{
    width: 100%;
    color: white;
    background-color: #1b72e8;
}

img.my_color-white{
    background-color: white;
}

ul.navbar-nav{
    background-color: white;
    
}

span.my_color-gold{
    color: #ff8f00;
}

ul li{
    list-style-type: none;
}

span.input-group-text{
    background-color: white;
    border: none;
}

input.form-control{
    background-color: #e5e5e5;
    color: lightgray;
    width: 10500px;
}

div.offcanvas-body{
    width: 1000px;
}


#offcanvasRight{
    width: 100%;
}

img.img-fluid{
    max-width: 5%;
}

p.my_border{
    border-bottom: 1px solid grey;
    padding-top: 1rem;
}

div.card-body p{
    padding-bottom: 2rem;
}

span.my_simbol{
    
}


@media  screen and (min-width: 992px) {
    main.nav{
        width: 160px
    }

    main.section.contents{
        width: calc(100%-160px);
    }

    #offcanvasRight{
        width: 50%;
    }
    
    
}